.test{
    color:green;
}
.leaflet-container{
    width: 400px;
    height: 400px;
}
.leaflet-container.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag{
    width: 400px;
    height: 400px;
}
#casesmap{
    width: 100%;
    height: 100%;
}
#app{
  width: 100%;
  height: 100%;
}
.Divider{
    display:flex;
    height: 100%;
    min-height: 50%;
    position: fixed;
    left:0px;
    top: 0px;
  }

  .Sidebar{
    width:350px;
    background-color: #212121;  
    border-right:0.2px solid #212121
  }

  .navBorder{
    height: 100%;
    border-right: 6px solid #50c878;
    border-top: 0.01px solid #212121;
  }
  .navItemsHolder{
    text-align: center;
  }
  @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

  .navTitle{
    color: #50c878;
    font-family: 'PT Sans', sans-serif;
    padding-left: 35px;
    transition: transform 300ms ease-in-out;
  }

  .navTitleTrigger:hover .navTitle{
    transform:translate(3px)
  }

  .middleForm{
    position: absolute;
    top:25%;
    left:10%;
    height: 65%;
    /*background-color: #DCE0E0;*/
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);*/
  }

  .bottomNav{
    width: 100%;
    position: relative;
  }
  
  .bottomNav{
    position: absolute;
    bottom: 0;
  }
  .sideNavText{
    color: #50c878;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
  }
  
  .mapblock{
    height:100%;
    width: 100%;
    position: fixed;
    }

    .SIDEPANEL.leaflet-control{
      padding: 0px 350px 0px 0px;
      margin-top: 0px;
      font-size: 20px;
      color: #777;
    }
#panelLayout{
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  align-items: center;
}
.SIDEPANEL h3{
  display: inline-block;
  color: #50c889;
  font-size: 2.5vw;
  font-family: 'PT Sans', sans-serif;
  font-weight: 1100;
  margin-bottom: 0px;
  text-align: center;
  white-space: nowrap;
}
.SIDEPANEL.leaflet-control.sidepanelinfo{
  display:flex;
  flex-direction: column;
  background-color:rgba(72,84,97, 0.65);
  height: 100vh;
  width: 25vw;
  text-align: center;
  align-items: center;
}

#rectangle{
  height:4px;
  background-color: #50c889;
  margin-top: 0px;
  padding-left: 20px;
  width:20vw;
 /* animation: slide 0.5s;
  animation-iteration-count: 1;*/
}
/*
@keyframes slide{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
*/
#cases{
  font-size: 2vw;
  margin-top: 10%;
  color: #212121;
}

#temperatures{
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;
}

#changeInCases{
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center;
  align-items: center;
  border: 2px #50c878;
}

#svg-content-responsive{
  display: inline-block;
  position: absolute;
}

.cases-change-text{
  font-size: 11px;
  fill: #50c889;
  font-family: 'PT Sans', sans-serif;
}

#dropdown{
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.mode-selector{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.mode-selector-bttn{
  flex-basis: 70%;
  text-align: end;
}

.next-icon{
  align-self: center;
  text-align: center;
  height: 100%;
  width: 18%;
  margin-top: 25px;
}
.next-icon-clicked{
  stroke: 'currentcolor';
  fill: 'currentcolor';
  stroke-width: '0px';
  height: '1.5em';
  width: '1.5em';
  transform: rotate(180deg);
  animation: rotateArrow 0.5s;
  animation-iteration-count: 1;
}

@keyframes rotateArrow {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
.next-icon-close{
  stroke: 'currentcolor';
  fill: 'currentcolor';
  stroke-width: '0px';
  height: '1.5em';
  width: '1.5em';
  transform: rotate(0deg);
  animation: rotateArrowRevert 0.5s;
  animation-iteration-count: 1;
}

@keyframes rotateArrowRevert {
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.menu{
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: slide 0.5s;
  margin-top: 25px;
  flex-basis: 65%;
  justify-content: space-between;
  animation-iteration-count: 1;
  opacity: 1;
}


@keyframes slide{
  0%{
    display: none;
    margin-top: 0px;
    opacity: 0;
  }
  100%{
    display: flex;
    margin-top: 25px;
    opacity: 1;
  }
}

.menu-close{
  display: none;
  align-items: center;
  flex-direction: column;
  animation: slide-up 0.4s;
  margin-top: 10px;
  flex-basis: 65%;
  justify-content: space-between;
  animation-iteration-count: 1;
  opacity: 0;
}
@keyframes slide-up{
  0%{
    margin-top: 25px;
    opacity: 1;
    display: flex;
  }
  100%{
    margin-top: 10px;
    opacity: 0;
    display: none;
  }
}

.button {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #8B9898;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  height: 100%;
  width: 100%;
  flex-basis: 25%;
}

.menu-button {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #8B9898;
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  height: 100%;
  width: 50%;
}

.menu-button-chosen{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #8B9898;
  background: aliceblue;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  height: 100%;
  width: 50%;
}
